@font-face {
    font-family: AlegreyaSans;
    src: url(fonts/AlegreyaSans-Light.ttf);
}

body{
    margin:0;
    display: grid;
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:  rgb(55, 136, 212);
    color:white;
}

#quick-nav{
    align-self: center;
}

#quick-nav>ul{
    display: flex;
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#quick-nav>ul>li{
    padding: 0 1.5vw;
    border-left: 0.1vw solid rgb(138, 174, 241);
}

#quick-nav>ul>li:first-child{
    padding-left: 0;
    border-left: 0;
}

.branding{
    justify-self: center;
    padding:2vw 0;
}

.branding>img{
    max-width: 100%;
    width: 15vw;
}

#utilities-nav{
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    gap: 2vw;
    padding-right: 4vw;
}

.button{
    border: 0.12vw solid rgb(138, 174, 241);
    padding: 0.2vw 1.4vw;
    font-size: 1vw;
    border-radius: 7%;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#utilities-nav>a{
    color: white;
}

#utilities-nav>a:last-child::before{
    content:"⚭ ";
    font-size: 1vw;
    color: rgb(138, 174, 241);
}

#utilities-nav>a:first-child::before{
    content:"⚲ ";
    font-size: 1vw;
    color: rgb(138, 174, 241);
}

#main-nav{
    grid-column: 1/4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgba(21, 78, 151, 0.952);
    font-size: 1.2vw;
    line-height: 4vw;
}

#main-nav>ul{
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align: center;
    padding: 0 2vw;
    margin: 0;
}

#main-nav>ul>li{
    padding: 0;
    margin: 0;
    border-left: 0.1vw solid rgb(138, 174, 241); 
}

#main-nav>ul>li:last-child{
    border-right: 0.1vw solid rgb(138, 174, 241); 
}

#main-nav>ul>li:hover {
    background-color: rgb(6, 31, 83);
}

ul{
    list-style: none;
}

main{
    margin-top: 2vw;
    padding: 2vw;
    display: grid;
    grid-template-rows: 5 auto;
    grid-template-columns: repeat(3,1fr);
    gap: 2vw;
    font-family: AlegreyaSans, Open Sans Condensed, Verdana, Geneva, Tahoma, sans-serif;
}

.hero{
    grid-row: 1/2;
    grid-column: 1/4;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    place-items: center;
    color: white;
}

.hero>img{
    max-width: 100%;
    grid-area:1/1/3/2;
}

.hero>h3{
    width: 70vw;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: lighter;
    grid-area: 1/1/2/2;
    padding-top: 1.8vw;
    margin-bottom: 0;
    border-top: 0.1vw solid white;
}

.hero>p{
    width: 70vw;
    font-size: 3.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area:2/1/3/2;
    padding-bottom: 1.8vw;
    border-bottom: 0.1vw solid white;
    margin-top: 0;
}

main>div:nth-child(2){
    grid-row: 2/3;
    grid-column: 1/4;
    background-color: olivedrab;
    display: grid;
    grid-template-columns: 2fr 3fr;
    color: white;
    font-weight: lighter;
    font-stretch: extra-condensed;
    text-align: center;
    margin-top: 2vw;
    padding: 0 auto;
}

main>div:nth-child(2)>h3{
    line-height: 0;
    font-size: 5vw;
}

main>div:nth-child(2)>h3::after{
    content: " > ";
}

main>div:nth-child(2)>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
    place-self: center;
    text-align: justify;
    padding-right: 4vw;
}

main>div:nth-child(3){
    grid-row: 3/4;
    grid-column: 1/2;
}

main>div:nth-child(4){
    grid-row: 3/4;
    grid-column: 2/3;
}

main>div:nth-child(6){
    grid-row: 3/4;
    grid-column: 3/4;
}

main>div:nth-child(9){
    grid-column: 1/4;
}

main>div:nth-child(3), main>div:nth-child(4), main>div:nth-child(5), main>div:nth-child(6), main>div:nth-child(7){
    padding: 2vw;
    line-height: auto;
}

main>div:nth-child(3), main>div:nth-child(4), main>div:nth-child(6){
    background-color: rgba(177, 175, 175, 0.199);
}

main>div:nth-child(3)>h3, main>div:nth-child(4)>h3, main>div:nth-child(5)>h3, main>div:nth-child(6)>h3, main>div:nth-child(7)>h3,
main>div:nth-child(5)>p, main>div:nth-child(7)>p{
    font-size: 4vw;
    font-weight:normal;
    margin: 0;
}

main>div:nth-child(3)>h3, main>div:nth-child(4)>h3, main>div:nth-child(6)>h3{
    color: rgb(55, 136, 212);
}

main>div:nth-child(5){
    background-color:darkmagenta;
}

main>div:nth-child(7){
    background-color:  rgb(55, 136, 212);
}

main>section{
    display: grid;
    grid-template-columns: 8vw 19vw;
    grid-template-rows: auto 1fr 1fr;
    margin-bottom: 3vw;
}

main>section>h4{
    grid-area: 1/1/2/3;
    font-weight: bolder;
    font-size: 1.5vw;
    margin:0;
    
}

main>section>p{
    align-self: center;
    margin:0 1vw;
}

main>section>p:nth-of-type(odd){
    border: 0.1vw solid rgba(126, 126, 126, 0.199);
    color: olivedrab;
    padding: 0.4vw  1.5vw;
    padding-bottom: 1.6vw;
    width: 5vw;
    text-align: center;
    font-size: 5vw;
    line-height: 2.7vw;
    font-weight:bolder;
    justify-self: center;
}

main>section>p:nth-of-type(odd)::first-line{
    font-size: 2vw;
}

main>section>p:nth-of-type(even){
    color: rgb(55, 136, 212);
    padding: 1.5vw;
    font-size: 1.5vw;
    font-weight: bolder;
}

main>div:nth-child(5)>p, main>div:nth-child(7)>p{
    margin: 2vw 0;
}

main>div:nth-child(3)>p, main>div:nth-child(4)>p, main>div:nth-child(6)>p{
    margin: 0 0 6vw 0;
    font-size: 1.4vw;
}

main>div:nth-of-type(8){
    text-transform: uppercase;
    font-stretch: wider;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    color: rgb(138, 174, 241);
    text-align: center;
    gap: 3vw;
    line-height: 2.5vw;
}

footer{
    background-color: rgb(77, 76, 76);
    color: white;
    display: grid;
}

footer>nav{
    display:flex;
    flex-flow: column wrap;
    height: 43.5vw;
    padding: 0 2vw;
    font-size: 1.5vw;
}

footer>nav>div{
    width: 15vw;
}

footer>nav>div>h4{
    margin: 0.5vw;
}

footer>nav>div>ul{
    padding: 0;
}

footer>small{
    border-top: 0.1vw solid white;
    padding-top: 2vw;
    text-align: center;
    margin: 8vw 1.8vw;
}